<!DOCTYPE html>
{% load static %}
<head>
    <style>
        h1 {
            font-size: 100px;
        }
        .a{
            font-family: Georgia, 'Times New Roman', Times, serif ;
            text-align: center;
             
        }
        .b{
            background-image: url('{% static "images/monkeyBG.webp" %}');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .c{
            text-align: center;
            font-size: 25px;
        }
    </style>
<h1 class = "a"> Monkey Species Classifier</h1>
</head>
<body class="b">
<div class='c'>
<p>
    This monkey classifier is inspired by the <a href="https://www.kaggle.com/slothkong/10-monkey-species">Monkey species classification</a> on Kaggle.<br> 
    The Image classifier is trained on the resnet50 archtecture using Fast.ai library, and gets 99.2% accuracy.<br><br> The Images are classied into 10 species, for now.
    These species are: mantled howler, patas monkey, bald uakari, japanese macaque, pygmy marmoset, white headed capuchin, silvery marmoset, common squirrel monkey, black headed night monkey and nilgiri langur.                

<p>
{{prediction}}
<br>
{{ testvar }}
</p>
<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_p }}
    <!--<input type="file" id="imgBut" name="sentFile">-->
    {%if request.method == 'GET'%}
    <input type="submit" value="classify">
    {% endif %}
</form>
</div>
</body>